*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}
#moon{
    height: 25vh;
    width: 12vw;
    padding-left: 25%;
    padding-top: 30%;
}
#earth{
     height: 55vh;
    width: 25vw;
    padding-left: 5%;
    padding-top: 20%;
}
#sun{
     height: 80vh;
    width: 40vw;
    padding-left: 30%;
}
#Solar{
  position:relative;
  justify-content: center;
  align-items: center;
  /* display: flex; */
    height: 100vh;
    width: 99vw;
}
.text-deg{
    text-align: center;
    background-color: rgb(14, 8, 8);
}
.title{
    color: rgb(255, 198, 12);
    font-size: 40px;
    font-weight: bolder;
}
.para{
    color: white;
    font-size: 15px;
    padding: 30px;
    
}
.ert{
     text-align: center;
    background-color: rgb(14, 8, 8);
}
a:hover{
    color: brown;
}
#im{
    height: 500px;
    width: 900px;
}
.paralax p{
Z-index:1;
color: #ffffff;
}