*{
    margin: 0;
    padding: 0;
}
#Solar{
  position:relative;
  justify-content: center;
  align-items: center;
  /* display: flex; */
    height: 100vh;
    width: 95vw;
}
.para{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    padding: 30px;
    text-align: center;
}
.text-deg{
    text-align: center;
    background-color: rgb(14, 8, 8);
}
.title{
    color: rgb(255, 198, 12);
    font-size: 40px;
    font-weight: bolder;
}
#im{
    height: 500px;
    width: 900px;
}
a:hover{
    color: rgb(32, 145, 221);
}